
.category {
    width: 100%;
    max-width: 300px;
    min-height: 320px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding-bottom: 10px;
    transition: transform 0.2s ease;
}

.category:hover {
    transform: translateY(-5px);
}

.category img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    padding: 10px;
}

.category a {
    text-decoration: none;
    color: rgb(35,35,35);
}

.category h2,
.category p {
    padding: 5px 15px;
}

.category p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(9,132,209);
}
.category__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1450px;
    margin: 50px auto;
    padding: 0 15px;
    place-items: center;
}
